.picture-of-the-day {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 38px;
}
.picture-of-the-day__title {
  font-family: "Agrandir Grand Light", Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  margin: 0 0 40px;
}
.picture-of-the-day__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.picture-of-the-day__photo {
  width: 100%;
  margin: 0 0 32px;
  border-radius: 20px;
}
.picture-of-the-day__star-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
}
.picture-of-the-day__star-icon:hover {
  opacity: 0.6;
}
.picture-of-the-day__photo-title {
  font-family: "Agrandir Grand Light", Arial, sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}
.picture-of-the-day__photo-paragraph {
  font-family: "Agrandir Grand Light", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .picture-of-the-day {
    max-width: 80vw;
  }
  .picture-of-the-day__photo {
    margin: 0 0 24px;
  }
  .picture-of-the-day__photo-title  {
    font-size: 22px;
  }
  .picture-of-the-day__photo-paragraph {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .picture-of-the-day__title  {
    font-size: 28px;
  }
  .picture-of-the-day__photo-paragraph {
    font-size: 16px;
  }
}